<div class="container" [ngStyle]="{'margin-top':'50px'}">
    <div class="row">

        <div class="col-md-3">
            <!-- name tiene que ser igual al nombre del ngModel -->
            <!-- (keyup.enter)="searchArtist($event)" -->
            <div class="form-inline my-2 my-lg-0">
                <input [(ngModel)]="termino"
                    type="text"
                    name="termino"
                    class="form-control"
                    placeholder="Search an artist...">
                <button (click)="searchArtist($event)"
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="button"
                    [disabled]="!termino">Search</button>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3"
                    *ngFor="let artista of _spotifyService.artistas"
                    [routerLink]="['/artista', artista.id]">

                    <!-- si existe la url mostrar image -->
                    <img [src]="artista.images | sinfoto"
                        alt="{{ artista.name }}"
                        class="img-fluid img-thumbnail">
                    <p class="text-center"><small>{{ artista.name }}</small></p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>
